body{
    font-family: 'Myriad Pro', sans-serif;
}

.blue-bg{
    background-image: url('../images/blue-bg.png');
    background-position: 0 0;
    background-repeat-y: no-repeat;
    background-size: cover;
    background-repeat-x: no-repeat;
}
.header {
    position: relative;
    text-transform: uppercase;
    font-size: 14px;
}

.header-top{
    background: #ffcc00;
    height: 58px;
    position: relative;
    padding: 0 32px;
}

.header-top .slog{
    font-size: 26px;
    color: #585858;
    margin: 0;
    margin-left: 115px;
}

.header-top ul li{
    margin-right: 5px;
}

.logo{
    z-index: 9990;
    position: absolute;
    bottom: -32px;
    left: 26px;
}

.header-links{
    font-size: 13px;
    margin-bottom: 14px;
}

.menu-wrapper{
    position: absolute;
    top: auto;
    right: 0;
    left: 0;
}

.menu{
    height: 86px;
    color: #fff;

}
.menu h4{
    color: #ffcc00;
    font-size: 18px;
    margin: 0;
}

.env-block{
    background: #003577; /* Old browsers */
    background: -moz-linear-gradient(left, #003577 0%, #2989d8 100%, #0053b9 100%, #2989d8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #003577 0%,#2989d8 100%,#0053b9 100%,#2989d8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #003577 0%,#2989d8 100%,#0053b9 100%,#2989d8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003577', endColorstr='#2989d8',GradientType=1 ); /* IE6-9 */
    border-bottom-left-radius: 12px;
    padding: 25px 20px 15px;
    z-index: 999;
}

.env-block ul{
    border-top: 1px solid #fff;
    display: inline-block;
}

.menu ul li{
    margin: 6px 7px 0 0;
    font-size: 14px;
}

.search-block{
    background: #003577; /* Old browsers */
    background: -moz-linear-gradient(left, #003577 0%, #2989d8 100%, #0053b9 100%, #2989d8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #003577 0%,#2989d8 100%,#0053b9 100%,#2989d8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #003577 0%,#2989d8 100%,#0053b9 100%,#2989d8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003577', endColorstr='#2989d8',GradientType=1 ); /* IE6-9 */
    border-bottom-right-radius: 12px;
    padding: 25px 20px 15px;
    z-index: 999;
}
.search-wrapper{
    position: relative;
}

.search{
    position: absolute;
    top: -12px;
    right: 52px;
    z-index: 9999;
}
h2{
    color: #003678;
}
ul{
    margin: 0;
    padding: 0;
}

ul li{
    list-style: none;
}

a{
    color: inherit;
}
a:hover{
    text-decoration: none;
}
.inline-list li{
    display: inline-block;
}
.caption-wrapper{
    position: relative;
    width: 100%;
}
.caption-title{
    background: #fff;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    padding: 18px 30px;
    margin: 0 20px;
}

.carousel-inner{
    max-height: 605px;
}
h2{
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 14px;
}

.caption-title a {
    text-transform: uppercase;
}
.carousel-caption{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    right: 0;
    top: 86px;
    bottom: auto;
    left: 0;
    z-index: 10;
    text-align: left;
    color: #003678;
}

.caption-container{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    left: 0;
    right: 0;
}
.inner-nav-wrapper{
    position: relative;
    width: 100%;
    margin-bottom: 215px;
}
.inner-nav{
    text-align: center;
    position: absolute;
    top: -22px;
    left: 0;
    right: 0;
    background: #e2e2e2; /* Old browsers */
    background: -moz-linear-gradient(top, #e2e2e2 0%, #ffffff 100%, #0053b9 100%, #2989d8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #e2e2e2 0%,#ffffff 100%,#0053b9 100%,#2989d8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #e2e2e2 0%,#ffffff 100%,#0053b9 100%,#2989d8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#2989d8',GradientType=0 ); /* IE6-9 */
    z-index: 999;
    border-radius: 12px;
    border-top: 1px solid #000;
    margin: 0 18px;
}

.inner-nav p{
   margin: 14px 0 19px;
    text-transform: uppercase;
}

.inner-nav a{
    text-transform: uppercase;
    margin: 20px 0 0;
    display: inline-block;
    font-size: 18px;
}

.nav-icon{
    display: inline-block;
    height: 63px;
    width: 80px;
    background-image: url('../images/nav_group.png');
}
.nav-icon-block{
    padding: 10px 0;
    border-right: 1px solid #000;
}
.price{
    background-position: 0 0;
}

.compare{
    background-position: -273px 0;
}

.find{
    background-position: -532px 0;
}

.docs{
    background-position: -733px 0;
}

.products-container{
}
.product-item{
    margin: 20px 0;
    font-size: 12px;
}
.product-item p{
    margin-bottom: 0.5rem;
    line-height: 16px;
}
.product-item img{
    padding-bottom: 20px;
}
.product-item a.more{
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    background: #003577;
    color: #ffcc00;
    display: block;
}
.product-item h4{
    text-decoration: underline;
    text-transform: uppercase;
    color: #003577;
}

.page-link{
    background: #ffcc00;
    color: #003577;
    border-radius: 4px;
    margin-right: 5px;
    padding: .3rem .75rem;
}
#main{
    padding: 86px 0 40px;
}
.footer{
    padding: 43px 0;
    background: #003577; /* Old browsers */
    background: -moz-linear-gradient(top, #003577 0%, #2989d8 100%, #0053b9 100%, #2989d8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #003577 0%,#2989d8 100%,#0053b9 100%,#2989d8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #003577 0%,#2989d8 100%,#0053b9 100%,#2989d8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003577', endColorstr='#2989d8',GradientType=0 ); /* IE6-9 */
    color: #fff;
}

.footer h4{
    margin-bottom: 14px;
}

.footer-links a{
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 14px;
}

.social a{

}

.input-search{
    border-radius: 15px;
    height: auto;
    padding: 4px;
}

.h4{
    font-size: 24px;
    display: block;
    text-transform: uppercase;
    border-bottom: 4px solid;
}
.social li{
    margin: 5px 3px;
}
.social-icon{
    display: inline-block;
    background-image: url('../images/socials.png');
    height: 31px;
    width: 31px;
}
textarea{
    resize: none;
}

form  {
    margin-bottom: 0;
}

.pagination{
    padding: 17px 0;
}
.contact-form input, 
.contact-form textarea{
    background: #3379ce;
    opacity: 0.9;
    color: #000;
    font-size: 11px;
    font-style: italic;
    width: 100%;
    border: 0;
    padding: 4px 8px;
}

.breadcrumbs{
    padding: 10px 25px 6px;
    background: #fff;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    color: #003678;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 32px;
}
.filters-wrapper{
    position: relative;
    width: 100%;
    margin-bottom: 120px;
}
.filters{
    padding: 40px 20px 0;
    background: #fff;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    color: #003678;
    position: absolute;
    top: -20px;
    left: 0;
    right: 0;
    z-index: 99;
    text-transform: uppercase;
    font-size: 14px;
}

.filters .form-group{
    margin-bottom: 0;
}
.filters input,
.filters textarea{
    background: #eee;
    opacity: 0.9;
    color: #000;
    font-size: 11px;
    font-style: italic;
    border: 0;
    padding: 4px 8px;
    margin: 0;
}

.filters label{
    margin: 0;
}

.tabs-block{
    margin-top: 41px;
}
.tabs-block .tab-content {
    padding: 20px 0;
}
.nav-tabs .nav-link{
    background: none;
    color: #444;
    text-transform: uppercase;
    border: 0;
    border-radius: 0;
    padding: 0;
}
.nav-tabs{
    margin-right: 20%;
}
.nav-tabs .nav-item:first-child .nav-title {
    margin-left: 0;
}

.nav-tabs .nav-item:last-child .nav-title {
    border-right: 0;
}
.nav-tabs .nav-item {
     margin-bottom: 0;
 }

.nav-title{
    border-right: 1px solid #444;
    display: inline-block;
    margin: .5rem 0 1rem 1rem;
    padding: 0;
    padding-right: 1rem;
    font-size: 20px;
    line-height: 20px;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover,
.nav-tabs .nav-link.show .nav-link, .nav-tabs .nav-link.active{
    color: #003678;
    background: none;
    border: 0;
    border-bottom: 2px solid #ffcc00;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{
    border: 0;
    color: #003678;
}

.nav-tabs{
    border-bottom: 1px solid #444;
    height: auto;
}