<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <h4 class="h4"> Швидкі посилання </h4>
                <ul class="footer-links">
                    <li>
                        <a href="#">Мінітрактори</a>
                    </li>
                    <li>
                        <a href="#">Мототрактори</a>
                    </li>
                    <li>
                        <a href="#">Причепи та навіси</a>
                    </li>
                    <li>
                        <a href="#">Генератори</a>
                    </li>
                    <li>
                        <a href="#">Всюдиходи</a>
                    </li>
                    <li>
                        <a href="#">Інше</a>
                    </li>
                </ul>
            </div>
            <div class="col-4">
                <h4 class="h4"> Звязок </h4>
                <form class="contact-form">
                    <div class="form-group">
                        <input type="text" placeholder="Імя"/>
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="Електронна пошта"/>
                    </div>
                    <div class="form-group">
                        <textarea placeholder="Повідомлення"></textarea>
                    </div>
                </form>
            </div>
            <div class="col-4">
                <h4 class="h4"> Ми в соцмережах </h4>
                <div class="row">
                    <div class="col-6">
                        <ul class="social inline-list">
                            <li>
                                <a href="#">
                                    <i class="social-icon facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="social-icon twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="social-icon youtube"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="social-icon instagramm"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="social-icon linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="social-icon google"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="copyright">АГРОТЕХ-ЗАХІД. Підстримка сайту</p>
            </div>
        </div>

    </div>

</footer>