<header class="header">
    <div class="container-fluid">
        <div class="row justify-content-between header-top">
            <div class="col d-flex align-items-center">
                <p class="slog">АГРОТЕХ-ЗАХІД</p>
            </div>
            <div class="col-4"></div>
            <div class="col header-links d-flex align-items-center justify-content-end">
                <ul class="inline-list">
                    <li>
                        <a href="#">КОНТАКТИ</a> |
                    </li>
                    <li>
                        <a href="#">КАТАЛОГ</a> |
                    </li>
                    <li>
                        <a href="#">КОШИК</a> |
                    </li>
                    <li>
                        <a href="#">МОВА</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="logo">
            <img src="images/logo.png"/>
        </div>
    </div>

    <div class="menu-wrapper">

            <div class="container">
                        <div class="row search-wrapper">
                            <div class="col"></div>
                            <div class="col-4 search">
                                <form class="">
                                    <input class="form-control mr-sm-2 input-search" type="search" placeholder="Search" aria-label="Search">
                                    <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
                                </form>
                            </div>
                        </div>
                        <div class="menu row">
                            <div class="col-7 env-block">
                                <h4>Обладнання</h4>

                                <ul class="inline-list">
                                    <li>
                                        <a href="#">Мінітрактори</a>
                                    </li>
                                    <li>
                                        <a href="#">Мототрактори</a>
                                    </li>
                                    <li>
                                        <a href="#">Причепи та навіси</a>
                                    </li>
                                    <li>
                                        <a href="#">Генератори</a>
                                    </li>
                                    <li>
                                        <a href="#">Всюдиходи</a>
                                    </li>
                                    <li>
                                        <a href="#">Інше</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-5 search-block d-flex align-items-end justify-content-end">
                                <ul class="inline-list">
                                    <li>
                                        <a href="#">Оплата і доставка</a>
                                    </li>
                                    <li>
                                        <a href="#">Новини</a>
                                    </li>
                                    <li>
                                        <a href="#">Представництва</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
            </div>
    </div>
</header>